**/build
**/.gradle
.idea
*.iml
*.bat
*.log
*.lnk
**/Debug*
**/Release*
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/*.db
**/msvc/*.opendb
**/msvc/*.txt
**/msvc/*.amplxeproj
**/msvc/.vs
**/msvc/ipch

regamedll/lib/tier*
regamedll/lib/vgui_controls*

regamedll/msvc/PublishPath*.txt
regamedll/_regamedllTestImg
regamedll/_dev
publish
