**/build
**/.gradle
.idea
*.iml
*.bat
*.log
*.lnk
**/msvc/Debug*
**/msvc/Release*
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/*.db
**/msvc/*.opendb
**/msvc/*.txt
**/msvc/*.amplxeproj
**/msvc/.vs
**/msvc/ipch

**/Client/Debug*
**/Client/Release*
**/vgui_controls/Debug*
**/vgui_controls/Release*
**/tier1/Debug*
**/tier1/Release*

regamedll/lib/tier*
regamedll/lib/vgui_controls*

regamedll/msvc/PublishPath*.txt
regamedll/_regamedllTestImg
regamedll/_dev
publish
